/* Set ALL HTML elements with border-box sizing */* {

  box-sizing: border-box;

}

body{
  background: #778DA9;
}

.centeredText {
  text-align: center;
}


header {
  font-family: 'Josefin Slab', 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  padding: auto;
  color: #020247;

}
 h2{
   font-family: "PT Serif", Arial, Helvetica, sans-serif;
   height: auto;
   margin: auto;

 }


p, ul, ol{
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a:link {color: blue;}
a:visited {color: purple;}
a:hover{color:lightblue;}
a:active{color: red;}